<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link href="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <script>
        // document.addEventListener("DOMContentLoaded", function() {
        //     const form = document.getElementById("registerForm");
        //     form.addEventListener("submit", async function(event) {
        //         event.preventDefault(); // 防止表单提交的默认行为

        //         const formData = new FormData(form);
        //         const data = new URLSearchParams(formData);

        //         try {
        //             const response = await fetch(form.action, {
        //                 method: form.method,
        //                 headers: {
        //                     "Content-Type": "application/x-www-form-urlencoded",
        //                     "Accept": "application/json"
        //                 },
        //                 body: data
        //             });

        //             if (!response.ok) {
        //                 console.log(response);
        //                 throw new Error("Network response was not ok");
        //             }

        //             const result = await response.json();
        //             console.log(response);
        //             console.log("Success:", result);
        //             alert("注册成功！");
        //             //等待0.5秒后跳转到登录页面
        //             setTimeout(function() {
        //                 window.location.href = "/auth/login";
        //             }, 500);
        //         } catch (error) {
        //             console.error("Error:", error);
        //             alert("注册失败，请重试。");
        //         }
        //     });
        // });
    </script>
</head>
<body class="flex items-center justify-center min-h-screen bg-gray-100">
<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-sm">
    <h2 class="text-2xl font-bold mb-4">注册</h2>

    <!-- 注册表单 -->
    <form method="POST" action="/auth/register" id="registerForm">
        <input type="hidden" name="authenticity_token" value="{{ authenticity_token }}"/>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                用户名
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" name="username" id="username" placeholder="用户名" required>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                邮箱
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="email" name="email" id="email" placeholder="邮箱" required>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                密码
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="password" name="password" id="password" placeholder="密码" required>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password_conform">
                确认密码
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="password" name="password_conform" id="password_conform" placeholder="确认密码" required>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="access">
                邀请码
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" name="access" id="access" placeholder="邀请码" required>
        </div>

        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                注册
            </button>
        </div>

        <p class="mt-4 text-center">
            <a class="text-blue-500 hover:text-blue-700" href="/auth/login">登录</a>
        </p>
    </form>
</div>
</body>
</html>